<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card shadow-lg p-4" style="width: 100%; max-width: 500px;">
    <h4 class="text-center mb-4">Add New Expense</h4>

    <form (ngSubmit)="createUserExpense()" [formGroup]="addNewExpenseForm" class="form-group">
      <!-- Title -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" formControlName="title" name="title" id="title" class="form-control" required>
      </div>

      <!-- Amount -->
      <div class="mb-3">
        <label for="amount" class="form-label">Amount</label>
        <input type="number" formControlName="amount" name="amount" id="amount" class="form-control"
          required>
      </div>

      <!-- CategoryName -->
      <div class="mb-3">
        <label for="categoryName" class="form-label">Category</label>
        <select formControlName="categoryName" name="categoryName" id="categoryName" class="form-control"
          required>

          <!-- Placeholder -->
          <option value="" disabled selected>Select Category</option>

          <option *ngFor="let category of categories" [value]="category.categoryName">{{ category.categoryName }}</option>

          <!-- Options -->
          <!-- <option>Grocery</option>
          <option>Rent</option>
          <option>Electricity</option>
          <option>Utilities</option>
          <option>Gas</option>
          <option>Resturant</option>
          <option>Entertainment</option>
          <option>Subscription</option> -->
        </select>
      </div>

      <!-- Date -->
      <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <input type="date" formControlName="date" name="date" id="date" class="form-control" required>
      </div>

      <!-- Submit -->
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Add Expense</button>
      </div>
    </form>
  </div>
</div>