<!-- 
  <div class="container">
    <h1>Expense Tracker</h1>


    <form id="expense-form">
      <input type="text" id="description" placeholder="Description" required>
      <input type="number" id="amount" placeholder="Amount ($)" required>
      <select id="category" required>
        <option value="">Category</option>
        <option value="Food">Food</option>
        <option value="Transport">Transport</option>
        <option value="Shopping">Shopping</option>
        <option value="Utilities">Utilities</option>
      </select>
      <button type="submit">Add Expense</button>
    </form>

    <ul id="expense-list">

    </ul>

    <div class="total">
   
    </div>
  </div> -->


<form action="">
    <button class="btn btn-success">Add Expense</button>

    <table>

        <tr>
            <th>Expense ID</th>
            <th>Title</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>

        <tr>

            <td>1</td>
            <td>Walmart purchase</td>
            <td>345.0 $</td>
            <td>Grocery</td>
            <td>6/22/2025</td>
            <td><button class="btn btn-warning">Edit</button></td>
            <td><button class="btn btn-danger">Delete</button></td>

        </tr>
        <tr>

            <td>2</td>
            <td>Gas Fuel</td>
            <td>393.0 $</td>
            <td>Gasoline</td>
            <td>6/27/2025</td>
            <td><button class="btn btn-warning">Edit</button></td>
            <td><button class="btn btn-danger">Delete</button></td>
        </tr>
        <tr>

            <td>3</td>
            <td>Washing machine</td>
            <td>3245.0 $</td>
            <td>Electronics</td>
            <td>6/29/2025</td>
            <td><button class="btn btn-warning">Edit</button></td>
            <td><button class="btn btn-danger">Delete</button></td>
        </tr>
    </table>
</form>